<li><a href="/">Home</a></li>
{{#unless currentUser}}
<li><a href="/login">Sign in</a></li>
<li><a href="/signup" class="waves-effect waves-light btn rounded">Create account</a></li>
{{/unless}}
{{#if currentUser}}
<li><a href="/profile">Profile</a></li>
<li><a href="/api/logout">Logout</a></li>
{{/if}}