<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Material Design Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Main Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="icon" href="/assets/images/corona-favicon.png" type="image/x-icon">
    <title>Lets Talk Corona!</title>
    <!-- Link to JQuery and materialize libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <!-- Link to javascript files -->
    <script src="/assets/js/utils.js"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper blue-grey darken-1">
            <a href="/" class="brand-logo">
                <i class="small material-icons hide-on-med-and-down">insert_comment</i>
                <span>Lets Talk Corona! </span>
            </a>
            <a href="#" data-target="small-screen-only-menu" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                {{> main-nav-bar-menu}}
            </ul>
        </div>
    </nav>
    <!-- repeat top menu as a side menu to be displayed only on small screens / in mobile mode-->
    <ul class="sidenav" id="small-screen-only-menu">
        {{> main-nav-bar-menu}}
    </ul>
    <main>
        <div class="row main-body">
            {{{ body }}}
        </div>
    </main>
    <footer class="page-footer blue-grey darken-3 p">
        <div class="footer-copyright">
            <div class="container center-align white-text">
                © 2020 Lets Talk Corona!
            </div>
        </div>
    </footer>

    <!-- Modal Structure -->
    <div id="search-modal" class="modal">
        <div class="modal-content">
            <h6 class="modal-header"></h6>
            <div class="divider"></div>
            <p id="modal-message"></p>
            <hl></hl>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-teal btn-flat">Close</a>
        </div>
    </div>
</body>

</html>