{{> left-menu-item}}
<div class="col s12 l9">
    <div class="blue-grey-text left-align hidden selected-category-image">
        <h5 class="selected-category-title"></h5>
    </div>
    {{> story-list activePage="homepage" }}
</div>
<!-- Link to javascript files used by this module -->
<script src="/assets/js/story-list.js"></script>