<div class="col s12 l3">
    <!-- Left Navigation Panel -->
    <div class="card-panel full-height">
        <div class="collection">
            {{#each category}}
            {{> left-menu-item}}
            {{/each}}
        </div>
    </div>
    <!-- Left Navigation Panel -->
</div>
<div class="col s12 l9">
    <!-- Content Panel -->
    <div class="card-panel">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lorem dolor, eleifend ut ultrices nec, elementum ac
        lorem.
        Aenean arcu metus, finibus id tellus nec, consequat commodo ipsum. Suspendisse dapibus interdum vulputate. Sed
        sodales,
        massa at aliquet posuere, orci nisi feugiat purus, finibus tempus orci tellus sed sapien. Maecenas sapien urna,
        blandit
        non mollis at, ultrices non magna. Vestibulum lobortis metus ac leo facilisis egestas. Vivamus neque erat,
        finibus et
        ligula sit amet, aliquet ornare lorem. Donec non sem erat. Sed eleifend tincidunt libero, tempor gravida ligula
        commodo
        id.
    </div>
    <!-- Content Panel -->
</div>