<!-- Sign Up Panel -->
<div class="col s12 m8 l4 offset-m2 offset-l4">
    <div class="card-panel signup-panel">
        <form class="signup">
            <div class="row">
                <div class="input-field col s12 ">
                    <h5 class="center-left ltc-heading">Create User Account</h5>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="User Name" id="name-input" type="text" class="validate">
                    <label for="name-input">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Password" id="password-input" type="password" class="validate">
                    <label for="password-input">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center-align">
                    <button class="btn waves-effect waves-light rounded" type="submit">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Link to javascript files used by this module -->
<script src="/assets/js/signup.js"></script>