<div class="col s12">
    <div class="container">
        <div class="card">
            <div class="card-content s12 center-align">
                <img src="/assets/images/user_avatar.png" alt="user avatar" class="circle responsive-img avatar-img">
                <div class="title">{{currentUser.fullName}}</div>
            </div>
        </div>
        <ul class="collapsible">
            <div class="collapsible-header blue-grey white-text center-align">
                My Stories
            </div>
        </ul>
        {{> story-list activePage="user-profile"}}
    </div>
</div>
<!-- Link to javascript files used by this module -->
<script src="/assets/js/story-list.js"></script>