
.login-panel,.signup-panel {
  margin-top: 8%;
  padding-bottom: 1rem;
  width: 100%;
}
  
form.login, form.signup{
  margin-left: 1rem;
  margin-right: 1rem;
}

form.login div.col,
form.signup div.col{
  margin: 1px;
}

form.login .btn,
form.signup .btn{
  padding-left: 3rem;
  padding-right: 3rem;
}