@import "login.css";
@import "story.css";

body
{
    /* default background color if image is unavailable */
    background-color:ghostwhite;
    /* default font */
    font-family: Mada, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Styling for sticky footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* Styling for sticky footer */
  }

main {
  /* Styling for sticky footer */
  flex: 1 0 auto;
  /* Styling for sticky footer */
}

.brand-logo i{
  margin-left: 1rem;
}

.brand-logo span{
font-size: 1.3rem;
}

.page-content{
  padding-top: 2rem;
}

.page-footer{
  padding: 0px;
}

.main-body{
  padding: 1rem;
}

.ltc-heading{
  color: slategrey;
}

.rounded{
  border-radius: 16px;
}

.footer-copyright{
  font-size:smaller;
}

.avatar-img{
  max-width: 8rem;
  max-height: 8rem;
  margin: 1rem;
}

.ltc-btn-primary{
  background-color: slategrey;
}

.left-nav-panel .collection .collection-item.active {
  background-color:#78909c;
}

.user-profile-title,
.selected-category-title{
  margin: 0rem;
  margin-bottom: 1rem;
  padding: 2rem;
  min-height: 5rem;
  color: white;
}

.user-profile-image,
.selected-category-image{
  background:url(/assets/images/category_title.png) no-repeat 0% 0%;
  background-size:cover;
}